GLOBAL_LLM_SERVICE="AzureOpenAI"
OPENAI_API_KEY="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"
AZURE_OPENAI_ENDPOINT="https://ai-jefersonguevara2459999142ai667517518506.openai.azure.com/"
AZURE_OPENAI_EMBEDDING_DEPLOYMENT_NAME="gpt-4o-mini"
AZURE_OPENAI_CHAT_DEPLOYMENT_NAME=gpt-4o-mini-2"
AZURE_OPENAI_API_VERSION="..."
PROJECT_CONNECTION_STRING="brazilsouth.api.azureml.ms;abd5f748-2340-4f7c-83de-18ffddb67814;rg-jefersonguevara245999-8052_ai;paradoja"
GITHUB_TOKEN="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"
AZURE_SEARCH_SERVICE_ENDPOINT = "https://nodo1.search.windows.net"
AZURE_SEARCH_API_KEY = "vpSCplGsW7w1Tbam5CkdA267nrrbIjUoYWdsHMM4gpAzSeBokMSj"
AZURE_SUBSCRIPTION_ID="abd5f748-2340-4f7c-83de-18ffddb67814"
AZURE_AI_PROJECT_NAME="paradoja"
AZURE_OPENAI_RESOURCE_GROUP="..."
AZURE_OPENAI_SERVICE="https://ai-jefersonguevara2459999142ai667517518506.openai.azure.com/"