GLOBAL_LLM_SERVICE="AzureOpenAI"
AZURE_OPENAI_API_KEY="BsUb2Bp8VogHdy4EWf4w9fDgfhvi4n4P6dtNywX0XkqFVGuf86tNJQQJ99BDACZoyfiXJ3w3AAAAACOG1x98"
AZURE_OPENAI_ENDPOINT="https://ai-jefersonguevara2459999142ai667517518506.openai.azure.com/"
AZURE_OPENAI_EMBEDDING_DEPLOYMENT_NAME="gpt-4o-mini"
AZURE_OPENAI_CHAT_DEPLOYMENT_NAME=gpt-4o-mini-2"
AZURE_OPENAI_API_VERSION="..."
PROJECT_CONNECTION_STRING="brazilsouth.api.azureml.ms;abd5f748-2340-4f7c-83de-18ffddb67814;rg-jefersonguevara245999-8052_ai;paradoja"
GITHUB_TOKEN="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"
AZURE_SEARCH_SERVICE_ENDPOINT = "https://jefer-m9l43wwi-eastus2.openai.azure.com/"
AZURE_SEARCH_API_KEY = "DJ2bhKyGv3DJoYiBxqHadPyoZ2dYRUkAhRDkeUuZJCKpCFRFrb9eJQQJ99BDACHYHv6XJ3w3AAAAACOGbz4b"
AZURE_SUBSCRIPTION_ID="abd5f748-2340-4f7c-83de-18ffddb67814"
AZURE_AI_PROJECT_NAME="paradoja"
AZURE_OPENAI_RESOURCE_GROUP="..."
AZURE_OPENAI_SERVICE="https://ai-jefersonguevara2459999142ai667517518506.openai.azure.com/"
